.lead {
  text-align: center;
}

.clearButton {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
}

body {
  background-color: lightblue;
}

#searchBtn {
  background-color: white;
}

#search {
  display: flex;
  justify-content: center;
}
